<div class="book_container">
    <div class="grid wide">
        <div class="book_box">
            <div class="book_header">
                <div class="box_img_book_header">
                    {{#if thisbook}}
                        <img src="{{thisbook.pic}}">
                    {{/if}}
                </div>

                <div class="book_header_info">
                    <span class="book_header_info_name">Sách: {{#if thisbook}}{{thisbook.bookname}}{{/if}}</span>
                    <ul class="list_book_header_info">
                        <li class="item_book_header_info"><i class="fa-solid fa-user"></i>Người đăng: {{#if thisbook}}{{thisbook.author}}{{/if}}</li>
                        <li class="item_book_header_info"><i class="fa-solid fa-eye"></i>Lượt xem: {{viewNumber}}</li>
                        <li class="item_book_header_info"><i class="fa-solid fa-rss"></i>Tình trạng: Có {{chapCount}} chương</li>
                    </ul>
                    <ul class="list_category_book_header">
                        <li class="item_category_book_header"><a href="#" class="link_item_category_book_header">Action</a></li>
                        <li class="item_category_book_header"><a href="#" class="link_item_category_book_header">Fantasy</a></li>
                        <li class="item_category_book_header"><a href="#" class="link_item_category_book_header">Shounen</a></li>
                        <li class="item_category_book_header"><a href="#" class="link_item_category_book_header">Supernatural</a></li>
                        <li class="item_category_book_header"><a href="#" class="link_item_category_book_header">Manhua</a></li>
                    </ul>
                </div>
            </div>
            <div class="book_desc_header">
                <h3 class="book_header_title"><i class="fa-solid fa-circle-info"></i>Giới Thiệu</h3>
                {{#if thisbook}}
                <p class="book_desc_header_p">
                    {{thisbook.decs}}
                </p>
                {{/if}}
            </div>
            <div class="book_chapter_header">
                <h3 class="book_header_title"><i class="fa-solid fa-database"></i>Danh sách các chương</h3>
                <ul class="box_list_chapter">
                    {{#each lstchap}}
                    <li class="item_chapter" style="display: flex;">
                        <a href="/read/{{this.chaplink}}" class="item_link_chapter" style=" width: 80%;">
                            <span class="number_chapter">{{this.chapname}}</span>
                            <span class="date_create_chap">Ngày đăng: {{toDate this.createdAt}}</span>                            
                        </a>
                        {{#if ../thisUser}}
                            <a href="/read/{{this.chaplink}}/delete" style="flex: 1; color: red; display: block; text-decoration: none; text-align: center;" class="btn_delete_chap">Xóa chap</a>
                        {{/if}}
                    </li>
                    {{/each}}
                    {{!-- <li class="item_chapter" >
                        <a href="/read/{{chaplink}}" class="item_link_chapter" >
                            <span class="number_chapter">{{chapname}}</span>
                            <span class="date_create_chap">{{createdAt}}</span>
                        </a>
                        <a href="/read/{{chaplink}}/delete" style="   color: red" class="btn_delete_chap">Xóa chap</a>
                    </li> --}}
                </ul>
            </div>  
            {{#if session}}
            <div class="row">
                <div>
                    <h2>Bình luận</h2>
                </div>
                <div>
                    <div>
                        <textarea name="{{session.username}}" id="Ucomment"></textarea>
                    </div>
                </div>
                <div>
                    <button name="{{thisbook._id}}" id="btnSub">Đăng lên</button>
                </div>
                <div>
                    <div>
                        <ul class="comment_box">
                            {{#each lstcomment}}
                            <li class="comment">
                                <div>
                                    <h5>{{this.username}}</h5>
                                    <p>{{this.comment}}</p>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            {{else}}
            <h3>Đăng nhập để bình luận</h3>
            {{/if}}
        </div>
    </div>
</div>
<script src="http://localhost:8000/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    var textArea = document.getElementById('Ucomment');
    var btnSub = document.querySelector('#btnSub');
    var commentBox = document.querySelector('.comment_box');

    window.onload = function(){
        btnSub.addEventListener('click', (e) =>{
            e.preventDefault();
            var comment = textArea.value;
            if(!comment){
                return
            }
            postComment(comment);
        });

        function postComment(comment){
            //edit
            var data = {
                username: textArea.name,
                comment: comment,
                bookid: btnSub.name
            }
            textArea.nodeValue = "";
            appendToDom(data);
            //boardcast
            boardcastComment(data);
            //sync mongodb
            syncWithDb(data);
        };

        function appendToDom(data){
            var lTag = document.createElement('li');
            lTag.classList.add('comment');
            var markUp = `
                                    <div>
                                        <h5>${data.username}</h5>
                                        <p>${data.comment}</p>
                                    </div>
                        `
            lTag.innerHTML = markUp;
            commentBox.prepend(lTag);
        };

        function boardcastComment(data) {
            socket.emit('comment',data);
        };

        socket.on('comment', (data) => {
            appendToDom(data);
        });

        function syncWithDb(data) {
            const headers = {
                'Content-Type': 'application/json'
            };
            fetch('/comments', { method: 'Post', body: JSON.stringify(data), headers})
                .then(response => response.json())
        };

    }
</script>