<div class="book_container">
    <div class="grid wide">
        <div class="book_box">
            <div class="book_header">
                <div class="box_img_book_header">
                    {{#if thisbook}}
                        <img src="{{thisbook.pic}}">
                    {{/if}}
                </div>

                <div class="book_header_info">
                    <span class="book_header_info_name">Sách: {{#if thisbook}}{{thisbook.bookname}}{{/if}}</span>
                    <ul class="list_book_header_info">
                        <li class="item_book_header_info"><i class="fa-solid fa-user"></i>Người đăng: {{#if thisbook}}{{thisbook.author}}{{/if}}</li>
                        <li class="item_book_header_info"><i class="fa-solid fa-eye"></i>Lượt xem: 100 view</li>
                        <li class="item_book_header_info"><i class="fa-solid fa-rss"></i>Tình trạng: Có 27 chap</li>
                    </ul>
                    <ul class="list_category_book_header">
                        <li class="item_category_book_header"><a href="#" class="link_item_category_book_header">Action</a></li>
                        <li class="item_category_book_header"><a href="#" class="link_item_category_book_header">Fantasy</a></li>
                        <li class="item_category_book_header"><a href="#" class="link_item_category_book_header">Shounen</a></li>
                        <li class="item_category_book_header"><a href="#" class="link_item_category_book_header">Supernatural</a></li>
                        <li class="item_category_book_header"><a href="#" class="link_item_category_book_header">Manhua</a></li>
                    </ul>
                </div>
            </div>
            <div class="book_desc_header">
                <h3 class="book_header_title"><i class="fa-solid fa-circle-info"></i>Giới Thiệu</h3>
                <p class="book_desc_header_p">
                    Võ đạo đỉnh phong, là cô độc, là tịch mịch, là dài đằng đẵng cầu tác, là cao xử bất thắng hàn
                    Phát triển trong nghịch cảnh, cầu sinh nơi tuyệt địa, bất khuất không buông tha, mới có thể có thể phá võ chi cực đạo.
                    Lăng Tiêu các thí luyện đệ tử kiêm quét rác gã sai vặt Dương Khai ngẫu lấy được một bản vô tự hắc thư, từ nay về sau đạp vào dài đằng đẵng võ đạo.
                </p>
            </div>
            <div class="book_chapter_header">
                <h3 class="book_header_title"><i class="fa-solid fa-database"></i>Danh sách các chương</h3>
                <ul class="box_list_chapter">
                    {{#each lstchap}}
                    <li class="item_chapter">
                        <a href="/read/{{chaplink}}" class="item_link_chapter">
                            <span class="number_chapter">{{chapname}}</span>
                            <span class="date_create_chap">{{createdAt}}</span>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>  
        </div>
    </div>
</div>