<div class="silder hide_on_mobile">
            <div class="container_slider grid wide">
                <div class="slider_sport">
                    <div id="slider_img" class="slider_content">
                        <div class="slider_item" style="background-image: url(/img/slider/1.jpg)">
                            <div class="slider_item_content">
                                <h2 class="slider_item_name">
                                    Tên Sách
                                </h2>
                                <p class="slider_item_decs">
                                    Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách
                                </p>
                                <button class="slider_see_more">Đọc sách</button>
                            </div>
                        </div>
                        <div class="slider_item" style="background-image: url(/img/slider/2.jpg)">
                            <div class="slider_item_content">
                                <h2 class="slider_item_name">
                                    Tên Sách
                                </h2>
                                <p class="slider_item_decs">
                                    Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách
                                </p>
                                <button class="slider_see_more">Đọc sách</button>
                            </div>
                        </div>
                        <div class="slider_item" style="background-image: url(/img/slider/3.jpg)">
                            <div class="slider_item_content">
                                <h2 class="slider_item_name">
                                    Tên Sách
                                </h2>
                                <p class="slider_item_decs">
                                    Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách
                                </p>
                                <button class="slider_see_more">Đọc sách</button>
                            </div>
                        </div>
                        <div class="slider_item" style="background-image: url(/img/slider/4.jpg)">
                            <div class="slider_item_content">
                                <h2 class="slider_item_name">
                                    Tên Sách
                                </h2>
                                <p class="slider_item_decs">
                                    Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách
                                </p>
                                <button class="slider_see_more">Đọc sách</button>
                            </div>
                        </div>
                        <div class="slider_item" style="background-image: url(/img/slider/5.jpg)">
                            <div class="slider_item_content">
                                <h2 class="slider_item_name">
                                    Tên Sách
                                </h2>
                                <p class="slider_item_decs">
                                    Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách
                                </p>
                                <button class="slider_see_more">Đọc sách</button>
                            </div>
                        </div>
                        <div class="slider_item" style="background-image: url(/img/slider/6.jpg)">
                            <div class="slider_item_content">
                                <h2 class="slider_item_name">
                                    Tên Sách
                                </h2>
                                <p class="slider_item_decs">
                                    Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách Mô tả ngắn về sách
                                </p>
                                <button class="slider_see_more">Đọc sách</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn_slider">
                    <button id="prev"><i class="fa-solid fa-angle-left btn_bottom"></i></button>
                    <button id="next"><i class="fa-solid fa-angle-right btn_bottom"></i></i></button>
                </div>
            </div>            
</div>

<div class="container">
    <div class="grid wide">
        <div class="row sm-gutter container_content">
            <div class="col l-2 m-0 c-0">
                <div class="container_category center">                                
                    <ul class="container_list_category">
                        <li class="container_item_category">
                            <input class="check_box" type="checkbox" name="" id="1">
                                <label for="1" class="name_category">Thể loại 1</label>  
                        </li>
                        <li class="container_item_category">
                            <input class="check_box" type="checkbox" name="" id="2">
                                <label for="2" class="name_category">Thể loại 2</label>
                        </li>
                        <li class="container_item_category">
                            <input class="check_box" type="checkbox" name="" id="3">
                                <label for="3" class="name_category">Thể loại 3</label>
                        </li>
                        <li class="container_item_category">
                            <input class="check_box" type="checkbox" name="" id="4">
                                <label for="4" class="name_category">Thể loại 4</label>
                        </li>
                        <li class="container_item_category">
                            <input class="check_box" type="checkbox" name="" id="5">
                                <label for="5" class="name_category">Thể loại 5</label>
                        </li>
                        <li class="container_item_category">
                            <input class="check_box" type="checkbox" name="" id="6">
                                <label for="6" class="name_category">Thể loại 6</label>
                        </li>
                        <li class="container_item_category">
                            <input class="check_box" type="checkbox" name="" id="7">
                                <label for="7" class="name_category">Thể loại 7</label>
                        </li>
                        <li class="container_item_category">
                            <input class="check_box" type="checkbox" name="" id="8">
                                <label for="8" class="name_category">Thể loại 8</label>
                        </li>
                        <li class="container_item_category">
                            <input class="check_box" type="checkbox" name="" id="9">
                                <label for="9" class="name_category">Thể loại 9</label>
                        </li>
                        <li class="container_item_category">
                            <input class="check_box" type="checkbox" name="" id="10">
                                <label for="10" class="name_category">Thể loại 10</label>
                        </li>
                        <li class="container_item_category">
                            <input class="check_box" type="checkbox" name="" id="11">
                                <label for="11" class="name_category">Thể loại 11</label>
                        </li>
                        <li class="container_item_category">
                            <input class="check_box" type="checkbox" name="" id="12">
                                <label for="12" class="name_category">Thể loại 12</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clo l-10 m-12 c-12">
                <div class="list_book_container">
                    <div class="row sm-gutter">
                        {{#each lstbook}}
                            <div class="col l-2-4 m-4 c-6 ">
                                <div class="item_book_content">
                                    <div class="item_book_content_img_test">
                                    <img src="{{this.pic}}" class="item_book_content_img_img">
                                    </div>
                                    <div class="item_book_container_content">
                                        <div class="box_desc_item_book">
                                            <h3 class="item_book_name">{{this.bookname}}</h3>
                                        <p class="item_book_desc">Tac gia: {{this.author}}</p>
                                        </div>
                                        <div class="item_book_box_btn">
                                            <a href="/read/{{this.slug}}" class="item_book_read_now">Read Now</a>
                                            <div href="" class="item_book_link_follow">
                                                <i class="fa-regular fa-bookmark item_book_icon_follow"></i>
                                            </div>
                                            <span class="item_book_view">12k View</span>
                                        </div>    
                                    </div>
                                </div>                        
                            </div>
                            
                        {{/each}}
<<<<<<< HEAD
                        <div class="col l-2-4 m-4 c-6 ">
                            <div class="item_book_content">
                                <div class="item_book_content_img_test">
                                <img src="/img/slider/1.jpg" class="item_book_content_img_img">
                                </div>
                                <div class="item_book_container_content">
                                    <div class="box_desc_item_book">
                                        <h3 class="item_book_name">Tên Sách</h3>
                                    <p class="item_book_desc">Môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách</p>
                                    </div>
                                    <div class="item_book_box_btn">
                                        <a class="item_book_read_now">Read Now</a>
                                        <div href="" class="item_book_link_follow">
                                            <i class="fa-regular fa-bookmark item_book_icon_follow"></i>
                                        </div>
                                        <span class="item_book_view">12k View</span>
                                    </div>    
                                </div>
                            </div>                        
                        </div>
                        <div class="col l-2-4 m-4 c-6 ">
                            <div class="item_book_content">
                                <div class="item_book_content_img_test">
                                <img src="/img/slider/2.jpg" class="item_book_content_img_img">
                                </div>
                                <div class="item_book_container_content">
                                    <div class="box_desc_item_book">
                                        <h3 class="item_book_name">Tên Sách</h3>
                                    <p class="item_book_desc">Môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách</p>
                                    </div>
                                    <div class="item_book_box_btn">
                                        <a class="item_book_read_now">Read Now</a>
                                        <div href="" class="item_book_link_follow">
                                            <i class="fa-regular fa-bookmark item_book_icon_follow"></i>
                                        </div>
                                        <span class="item_book_view">12k View</span>
                                    </div>    
                                </div>
                            </div>                        
                        </div>
                        <div class="col l-2-4 m-4 c-6 ">
                            <div class="item_book_content">
                                <div class="item_book_content_img_test">
                                <img src="/img/slider/3.jpg" class="item_book_content_img_img">
                                </div>
                                <div class="item_book_container_content">
                                    <div class="box_desc_item_book">
                                        <h3 class="item_book_name">Tên Sách</h3>
                                    <p class="item_book_desc">Môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách</p>
                                    </div>
                                    <div class="item_book_box_btn">
                                        <a class="item_book_read_now">Read Now</a>
                                        <div href="" class="item_book_link_follow">
                                            <i class="fa-regular fa-bookmark item_book_icon_follow"></i>
                                        </div>
                                        <span class="item_book_view">12k View</span>
                                    </div>    
                                </div>
                            </div>                        
                        </div>
                        <div class="col l-2-4 m-4 c-6 ">
                            <div class="item_book_content">
                                <div class="item_book_content_img_test">
                                <img src="/img/slider/4.jpg" class="item_book_content_img_img">
                                </div>
                                <div class="item_book_container_content">
                                    <div class="box_desc_item_book">
                                        <h3 class="item_book_name">Tên Sách</h3>
                                    <p class="item_book_desc">Môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách</p>
                                    </div>
                                    <div class="item_book_box_btn">
                                        <a class="item_book_read_now">Read Now</a>
                                        <div href="" class="item_book_link_follow">
                                            <i class="fa-regular fa-bookmark item_book_icon_follow"></i>
                                        </div>
                                        <span class="item_book_view">12k View</span>
                                    </div>    
                                </div>
                            </div>                        
                        </div>
                        <div class="col l-2-4 m-4 c-6 ">
                            <div class="item_book_content">
                                <div class="item_book_content_img_test">
                                <img src="/img/slider/5.jpg" class="item_book_content_img_img">
                                </div>
                                <div class="item_book_container_content">
                                    <div class="box_desc_item_book">
                                        <h3 class="item_book_name">Tên Sách</h3>
                                    <p class="item_book_desc">Môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách</p>
                                    </div>
                                    <div class="item_book_box_btn">
                                        <a class="item_book_read_now">Read Now</a>
                                        <div href="" class="item_book_link_follow">
                                            <i class="fa-regular fa-bookmark item_book_icon_follow"></i>
                                        </div>
                                        <span class="item_book_view">12k View</span>
                                    </div>    
                                </div>
                            </div>                        
                        </div>
                        <div class="col l-2-4 m-4 c-6 ">
                            <div class="item_book_content">
                                <div class="item_book_content_img_test">
                                <img src="/img/slider/6.jpg" class="item_book_content_img_img">
                                </div>
                                <div class="item_book_container_content">
                                    <div class="box_desc_item_book">
                                        <h3 class="item_book_name">Tên Sách</h3>
                                    <p class="item_book_desc">Môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách</p>
                                    </div>
                                    <div class="item_book_box_btn">
                                        <a class="item_book_read_now">Read Now</a>
                                        <div href="" class="item_book_link_follow">
                                            <i class="fa-regular fa-bookmark item_book_icon_follow"></i>
                                        </div>
                                        <span class="item_book_view">12k View</span>
                                    </div>    
                                </div>
                            </div>                        
                        </div>
                        <div class="col l-2-4 m-4 c-6 ">
                            <div class="item_book_content">
                                <div class="item_book_content_img_test">
                                <img src="/img/slider/2.jpg" class="item_book_content_img_img">
                                </div>
                                <div class="item_book_container_content">
                                    <div class="box_desc_item_book">
                                        <h3 class="item_book_name">Tên Sách</h3>
                                    <p class="item_book_desc">Môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách</p>
                                    </div>
                                    <div class="item_book_box_btn">
                                        <a class="item_book_read_now">Read Now</a>
                                        <div href="" class="item_book_link_follow">
                                            <i class="fa-regular fa-bookmark item_book_icon_follow"></i>
                                        </div>
                                        <span class="item_book_view">12k View</span>
                                    </div>    
                                </div>
                            </div>                        
                        </div>
                        <div class="col l-2-4 m-4 c-6 ">
                            <div class="item_book_content">
                                <div class="item_book_content_img_test">
                                <img src="/img/slider/4.jpg" class="item_book_content_img_img">
                                </div>
                                <div class="item_book_container_content">
                                    <div class="box_desc_item_book">
                                        <h3 class="item_book_name">Tên Sách</h3>
                                    <p class="item_book_desc">Môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách</p>
                                    </div>
                                    <div class="item_book_box_btn">
                                        <a class="item_book_read_now">Read Now</a>
                                        <div href="" class="item_book_link_follow">
                                            <i class="fa-regular fa-bookmark item_book_icon_follow"></i>
                                        </div>
                                        <span class="item_book_view">12k View</span>
                                    </div>    
                                </div>
                            </div>                        
                        </div>
                        <div class="col l-2-4 m-4 c-6 ">
                            <div class="item_book_content">
                                <div class="item_book_content_img_test">
                                <img src="/img/slider/6.jpg" class="item_book_content_img_img">
                                </div>
                                <div class="item_book_container_content">
                                    <div class="box_desc_item_book">
                                        <h3 class="item_book_name">Tên Sách</h3>
                                    <p class="item_book_desc">Môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách</p>
                                    </div>
                                    <div class="item_book_box_btn">
                                        <a class="item_book_read_now">Read Now</a>
                                        <div href="" class="item_book_link_follow">
                                            <i class="fa-regular fa-bookmark item_book_icon_follow"></i>
                                        </div>
                                        <span class="item_book_view">12k View</span>
                                    </div>    
                                </div>
                            </div>                        
                        </div>
                        <div class="col l-2-4 m-4 c-6 ">
                            <div class="item_book_content">
                                <div class="item_book_content_img_test">
                                <img src="/img/slider/3.jpg" class="item_book_content_img_img">
                                </div>
                                <div class="item_book_container_content">
                                    <div class="box_desc_item_book">
                                        <h3 class="item_book_name">Tên Sách</h3>
                                    <p class="item_book_desc">Môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách</p>
                                    </div>
                                    <div class="item_book_box_btn">
                                        <a class="item_book_read_now">Read Now</a>
                                        <div href="" class="item_book_link_follow">
                                            <i class="fa-regular fa-bookmark item_book_icon_follow"></i>
                                        </div>
                                        <span class="item_book_view">12k View</span>
                                    </div>    
                                </div>
                            </div>                        
                        </div>
                        <div class="col l-2-4 m-4 c-6 ">
                            <div class="item_book_content">
                                <div class="item_book_content_img_test">
                                <img src="/img/slider/1.jpg" class="item_book_content_img_img">
                                </div>
                                {{lastpage}}
                                <div class="item_book_container_content">
                                    <div class="box_desc_item_book">
                                        <h3 class="item_book_name">Tên Sách</h3>
                                    <p class="item_book_desc">Môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách</p>
                                    </div>
                                    <div class="item_book_box_btn">
                                        <a class="item_book_read_now">Read Now</a>
                                        <div href="" class="item_book_link_follow">
                                            <i class="fa-regular fa-bookmark item_book_icon_follow"></i>
                                        </div>
                                        <span class="item_book_view">12k View</span>
                                    </div>    
                                </div>
                            </div>                        
                        </div>
                        <div class="col l-2-4 m-4 c-6 ">
                            <div class="item_book_content">
                                <div class="item_book_content_img_test">
                                <img src="/img/slider/5.jpg" class="item_book_content_img_img">
                                </div>
                                <div class="item_book_container_content">
                                    <div class="box_desc_item_book">
                                        <h3 class="item_book_name">Tên Sách</h3>
                                    <p class="item_book_desc">Môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách môt tả ngắn về sách</p>
                                    </div>
                                    <div class="item_book_box_btn">
                                        <a class="item_book_read_now">Read Now</a>
                                        <div href="" class="item_book_link_follow">
                                            <i class="fa-regular fa-bookmark item_book_icon_follow"></i>
                                        </div>
                                        <span class="item_book_view">12k View</span>
                                    </div>    
                                </div>
                            </div>                        
                        </div>
=======
                        {{#if session}}
                        <p>Cường ăn Cứt</p>
                        <p>{{session.vipexpire}}</p>
                        {{else}}
                        <p>Cường ăn Cứttttttttt</p>
                        {{/if}}
>>>>>>> 08d130eb5f3346d11e67c3b7d8963bff480537fc
                    </div>
                </div>
                <ul class="pagination home_list_book_pagination">
                    <li class="pagination-item"><a href="#" class="pagination-item_link"><i class="fa-solid fa-angles-left"></i></a></li>
                    <li class="pagination-item"><a href="#" class="pagination-item_link"><i class="fa-solid fa-angle-left"></i></a></li>
                    <li class="pagination-item"><a href="/?page=1" class="pagination-item_link">1</a></li>
                    <li class="pagination-item pagination-item-active"><a href="/?page=2" class="pagination-item_link">2</a></li>
                    <li class="pagination-item"><a href="/?page=3" class="pagination-item_link">3</a></li>
                    <li class="pagination-item"><a href="#" class="pagination-item_link">4</a></li>
                    <li class="pagination-item"><a href="#" class="pagination-item_link">5</a></li>
                    <li class="pagination-item"><a href="#" class="pagination-item_link">...</a></li>
                    <li class="pagination-item"><a href="#" class="pagination-item_link">19</a></li>
                    <li class="pagination-item"><a href="#" class="pagination-item_link"><i class="fa-solid fa-angle-right"></i></a></li>
                    <li class="pagination-item"><a href="#" class="pagination-item_link"><i class="fa-solid fa-angles-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/js/PageHome/slider.js"></script>
<<<<<<< HEAD
{{!-- <form action="/order" method="get">
    <button type="submit">Gio hang</button>
</form>
<form action="/auth/login" method="get">
    <button type="submit">Dang nhap</button>
</form>
<form action="/auth/login/facebook" method="get">
    <button type="submit">Dang nhap fb</button>
</form>
<form action="/auth/login/google" method="get">
    <button type="submit">Dang nhap google</button>
</form>
<form action="/auth/signup" method="get">
    <button type="submit">Dang ki</button>
</form>
<form action="/upload" method="get">
    <button type="submit">Upload file</button>
</form> --}}
=======

<script>
    var length = Number({{lastpage}});
    var list = document.getElementById('book_pagination');
    var currentPage = Number({{pagenow}});
    for(var i = 1; i <= length; i++){
        var html = `<li class="pagination-item"><a href="/?page=${i}" class="pagination-item_link ${i}">${i}</a></li>`
        if(i == currentPage){
            html = `<li class="pagination-item pagination-item-active"><a href="/?page=${i}" class="pagination-item_link ${i}">${i}</a></li>`
        }
        list.insertAdjacentHTML('beforeend', html)
    }

</script>
>>>>>>> 08d130eb5f3346d11e67c3b7d8963bff480537fc
