<style>
    .box_page_userLstBook{
        padding: 20px 0;
        min-height: 500px;
    }
    .title_box_page_userLstBook{
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 42px;
        padding-top: 50px;
    }
    .box_book_page_userLstBook{
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 15px 30px;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .box_book_page_userLstBook h3{
        font-size: 20px;
    }
    .box_page_userLstBook a{
        font-size: 20px;
        text-decoration: none;
        color: #fff;
    }
    .btn_book{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    
    .tag_vip{
        font-size: 20px;
        color: rgb(158, 237, 0);
        font-weight: 700;
    }
</style>


<div class="box_page_userLstBook m_t_mobile grid wide">
    <h2 class="title_box_page_userLstBook">Danh sách những truyện đã đăng</h2>
    {{#each lstBook}}
        <div class="box_link_book">
            <div class="box_book_page_userLstBook">
                <a href="/read/{{slug}}">Tên sách: {{bookname}}
                {{#if this.vip}}
                    (VIP)
                {{/if}} 
                </a>
                <div class="btn_book">
                    <a href="/upload/{{slug}}/addchap">Thêm chap</a>
                    <a style="color: #eb5151;" href="/read/{{slug}}/delete">Xóa sách</a>
                </div>   
            </div>        
        </div>
    {{else}}
        <h3>Bạn chưa đăng bất kỳ sách nào!</h3>
    {{/each}}   
    
</div>
