<h1>User info</h1>
<br>
<h5>Username</h5>
<p>{{session.username}}</p>
<br>
<h5>Email</h5>
<p>{{session.email}}</p>
<br>
<h5>Linked account</h5>
{{#if session.fbid}}
    {{#if session.ggid}}
        <p>Google and Facebook</p>
    {{else}}
        <p>Facebook</p>
    {{/if}}
{{else}}
    {{#if session.ggid}}
        <p>Google</p>
    {{else}}
        <p>Not linked</p>
    {{/if}}
{{/if}}
<br>
<h5>Là thành viên tại B2C</h5>
{{#if session.hashpassword}}
<p>Đã là thành viên của B2C</p>
{{else}}
<p>Chưa là thành viên của B2C</p>
{{/if}}
<br>
<a href="/user/changepass" type="button" value="">Đổi mật khẩu!</a>
<br>
<H5>Lưu ý: Tài khoản cần phải được đăng kí tại web để thực hiện việc này!</H5>